
*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: #333;
    height: 100vh;
    margin: 0;
    font-size: 6vmin;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82vmin;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.how-to-play-btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 18px;
    border: none;
    font-weight: bold;
    background-color: #ccc;

}

.how-to-play-btn:hover {
    cursor: pointer;
    background-color: #fff;
}
.logo {
    color: #ccc;
    font-size: 40px;
}

.score {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score p {
    color: #ccc;
    font-size: 16px;
}

#number-score {
    font-size: 24px;
    color: #ccc;
}

.game {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    margin-top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #ccc;
    gap: var(--cell-gap);
    border-radius: 2vmin;
    padding: var(--cell-gap);
}

.cell {
    background-color: #AAA;
    border-radius: 2vmin;
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 2vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out; 
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0)
    }
}

#modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    animation: 500ms hide ease-in-out
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#modal.active {
    display: flex !important;
    animation: 500ms show ease-in-out
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-container {
    position: relative;
    width: 90vmin;
    min-height: 40vmin;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgb(110, 110, 110);

}

.modal-score {
    color: #ccc;
    margin: 24px;
    padding: 12px 0px;
    border-bottom: 1px solid #ccc;
}
.modal-score h6 {
    font-size: 24px;
    text-align: center;
}
.body-modal-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-modal-score > div {
    text-align: center;
}

.body-modal-score p {
    font-size: 14px;
    text-align: center;
    margin-top: 16px
}

#current-score, #high-score {
    font-size: 32px;
    margin-top: 0px;
}

.modal-play-again {
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 0px 0px 32px;
}

#play-again {
    font-size: 32px;
    padding: 8px 80px;
    border-radius: 10px;
    color: #172e2a;
    background-color: #4095bf;
    border: none;
    font-weight: bold;
}

#modal-close {
    position: absolute;
    font-size: 20px;
    padding: 12px;
    color: #ccc;
    top: 0;
    right: 0;
}

#modal-close:hover, #play-again:hover {
    cursor: pointer;
}
